*{
	margin: 0px;
	padding: 0px;
}


body
{
margin:20px auto 20px auto;
width:900px; /* width has been altered */
height:900px;
}

#main {
	float: left;
}
 section {
	width: 530px;
	background-color: #eee;
	padding: 10px 10px 10px 10px;
	margin: 6px 6px 6px 6px;
	
}

article {
	width: auto;
}

aside {
	float: right;
	width: 253px;
	padding: 6px 6px 6px 6px;
	margin: 10px 10px 10px 10px;
}
header {
	padding: 20px 20px 20px 20px;
	margin: 15px 15px 15px 15px;
	font-size: 18px;
}

nav {
	margin: 8px 10px 8px 10px;
}

.nav-item {
	font-size: 18px;
	display: inline;
	margin: 0 6px 0 6px;
	border: 1px solid #000;
	padding: 2px 4px 2px 4px;
	border-radius: 6px;
	background-color: #77cc33;
	box-shadow: 3px 3px 2px #333333;
}

.nav-item:hover {
	background-color: #77dd33;
}

.nav-link {
	text-decoration: none;
	text-shadow: 2px 2px #000;
	padding: 2px 4px 2px 4px;
	color: #fff;
}

section.films {
	margin: 50px;
	width: 300px;
	margin-right: auto;
	margin-left: auto;
	background-color: #33cccc;

}


img {
	display: block;
	padding-left: 10px;
	padding-right: 10px;
	margin-right: auto;
	margin-left: auto;
	margin-top: 10px;
	margin-bottom: 10px;

}

section.films img {
	float: left;

}


section.films p {
	padding: 10px;
}


table {
	border: solid 1px;
	border-collapse: collapse;
	border-spacing: 0;
}
th {
	border: solid 1px;
	padding: 10px;
	text-align: left;
}
td {
	border: solid 1px;
	padding: 5px;
}

footer {
	padding: 20px 20px 20px 20px;
	margin: 20px 20px 20px 20px;
}