*{
	margin: 0px;
	padding: 0px;
}


body
{
margin:20px auto 20px auto;
width:800px;
height:800px;
}

div#header
{
	float: left;
	width: 776px;
	height: 35px;
	padding: 10px;
	margin: 0px;
	border: 2px black dashed;
	background-color: #add8e6;
}

div.column
{
	float: left;
	width: 146px;
	height: 400px;
	padding: 10px;
	margin: 15px;
	border: 2px black dashed;
	background-color: #add8e6;
}

p
{
	height: 370px;
	padding: 12px;
	border: 4px #d3d3d3 solid;
	background-color: #dc143c;
}