/* CV for Curriculum Vitae*/

/* Reset */
* {
    margin: 0px;
    padding: 0px;
}

body
{
    margin: auto 20px auto 20px;
    width:800px;
    height:800px;
}

/* CV - Curriculum Vitae */

header#CVheader {
    width: 746px;
    padding: 10px;
    margin: 15px;
    border: 2px #000000 solid;
    background-color: #add8e6;
}

h1.CVtitle {
    font-size: 30px;
    font-family: georgia;
    color: #ff0000;            
}

h2.CVheading {
    height: 40px;
    font-size: 18px;
    font-family: arial;
    color: #ff0000;
    font-weight: bold;
}

section.CVcolumn {
    width: 154px;
    height: 300px;
    padding: 6px;
    margin: 10px;
    border: 2px #000000 solid;
    background-color: #ffcccb;
    float: left;
}

p.CVparagraph {
    font-size: 12px;
    font-family: sans-serif;
    color: #888888;
    
 }

 p#CVfooter {
    float: left;
    width: 756px;
    padding: 10px;
    margin: 10px;
    border: 2px #000000 solid;
    font-family: courier;
    text-align: center;
    color: #ff0000;
    background-color: lightblue;
 }

/* PF - Portfolio */
header#PFheader {
    float: left;
    width: 760px;
    padding: 20px;
    margin: 15px;
    border: 2px #555555 dashed;
    background-color: #fbc97f;
}
h1.PFtitle {
    font-size: 36px;
    font-family: georgia;
    color: #0000ff;            
}

h2.PFheading {
    font-size: 25px;
    font-family: courier;
    color: #0000ff;
    font-weight: bold;
}

section.PFcolumn {
    width: 227px;
    height: 400px;
    padding: 6px;
    margin: 10px;
    border: 2px #555555 solid;
    background-color: #33ccff;
    float: left;
}

section.PVcolumn {
    width: 154px;
    padding: 6px;
    margin: 10px;
    border: 2px #000000 solid;
    background-color: #ffcccb;
    float: left;
}

p.PFparagraph {
    font-size: 16px;
    font-family: sans-serif;
    color: #000000;
    text-indent: 50px;
}

 p#PFfooter {
    float: left;
    width: 756px;
    padding: 10px;
    margin: 6px;
    border: 2px #333333 solid;
    font-family: courier;
    text-align: center;
    color: #ff0000;
    background-color: #fbc97f;